
html, body, div, span, applet, object,
 iframe, table, caption, tbody, tfoot, thead,
  tr, th, td, del, dfn, em, font, img, ins, kbd,
   q, s, samp, small, strike, tt, var, h1, h2, 
   h3, h4, h5, h6, p, blockquote, pre, a, abbr, 
   acronym, address, big, cite, code, dl, dt, dd,
    ol, ul, li, fieldset, form, label, legend {
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
    text-align: left;
    font-style: normal;
}
a{text-decoration:none; color:#333;}
body {
    /* background: url(http://0.js.al.okbuycdn.com/resources/images/v6/common/prodbtmback_2.png); */
    font-family: verdana,SimSun,Helvetica,sans-serif;
    color: #333;
    font-size: 13px;
}
html,body {
    text-align: center;
}
ol,ul {
    list-style: none;
}
img {
    vertical-align: top;
}
/* 宽度1200 */
.w1200 {
    width: 1200px;
    margin: 0 auto;
}
.nav .w1200 {
    position: relative;
}
/* topnav */
.nav{
    height: 28px;
    background: #f2f2f2;
    border-bottom: 1px solid #dcdcdc;
    position: relative;
    z-index: 100;
}
.nav .tinfo{
    position: absolute;
    right: 0;
    top: 0;
    line-height: 28px;
}
.nav .navinfo {
    position: relative;
}
.nav .navinfo {
    float: left;
    text-align: center;
    padding: 0 10px;
    border: 1px solid #f2f2f2;
    cursor: pointer;
}
.nav .arrowtop5,.arrowtop4,.arrowtop3,.arrowtop2,.arrowtop1 {
    background: url(http://0.js.al.okbuycdn.com/resources/images/v6/common/section-tigger.png) -30px -37px no-repeat;
    width: 11px;
    height: 7px;
    display: inline-block;
    margin-left: 4px;
}
.nav .tinfo i {
    color: #d9d9d9;
    float: left;
}
.unlogin, .logined, .unlogin a, .logined a {
    float: left;
}
.unlogin,.logined {
    margin-right: 10px;
}
.navinfobtm img {
    margin: 10px 0 0 6px;
}
.navinfobtm{
    background:#fff;
}
#siteNotice {
    float: right;
    padding: 0 20px;
}
.nav .noticeList {
    position: absolute;
    top: 28px;
    right: 0;
    min-width: 210px;
    max-width: 500px;
    background-color: #fff;
    padding: 20px 10px 10px 10px;
    z-index: 700;
}

.noticeList p {
    line-height: 1.8;
    margin-bottom: 5px;
}
/* top导航 */
#zhu{
    display:none
}
.nav .xian .yinc{
    display:none;
}
#zhu2,#zhu3,#zhu4{
    display:none
}

/* 头部 */
.c {
    position: relative;
    height: 110px;
    background-color: #f5f5f5;
}
.c .w1200 {
    position: relative;
}
.header .c .logo {
    position: absolute;
    left: 0;
    top: 0;
}
/* 表单 */
.c .search {
    position: absolute;
    left: 334px;
    top: 24px;
    height: 31px;
    padding: 4px 0 0 4px;
}
.search .searching {
    float: left;
    width: 364px;
    padding: 0 0 0 10px;
    line-height: 32px;
    height: 32px;
    border: 3px solid #d70057;
}
/* 搜索 */
.c .searchBtn {
    float: left;
    background: url(http://0.js.al.okbuycdn.com/resources/images/v6/common/common-thumb.png) -31px -4px no-repeat;
    width: 98px;
    height: 38px;
    border: none;
    cursor: pointer;
}
.c .hotWords {
    position: absolute;
    left: 338px;
    top: 72px;
    height: 16px;
    width: 420px;
    overflow: hidden;
}
.hotWords a {
    color: #888;
    margin-right: 10px;
}
/* 搜索提示 */
#topsuggest {
    /* display: none; */
    position: absolute;
    left: 341px;
    top: 63px;
    background-color: #fff;
    border: solid 1px #ddd;
    border-radius: 0 0 5px 5px;
    box-shadow: 3px 3px rgba(0,0,0,0.2);
    width: 435px;
    z-index: 500;
}
/* 购物车 */
.c .cart {
    background: #ffda73 url(http://0.js.al.okbuycdn.com/resources/images/v6/common/common-thumb.png) -238px -4px no-repeat;
    width: 248px;
    height: 32px;
    color: #444;
    position: absolute;
    line-height: 39px;
    right: 10px;
    top: 30px;
}
.c .cart span {
    height: 28px;
    width: 175px;
    background: #fff;
    display: block;
    line-height: 28px;
    text-align: center;
    position: absolute;
    right: 2px;
    top: 2px;
}
.c .cart b {
    padding: 0 5px;
    color: #d70057;
    font-weight: normal;
}
/* 头部nav */
.nnav {
    height: 40px;
    width: 100%;
    background: #000;
}
.nnav .w1200 {
    position: relative;
    /* border:1px solid darkorange;
    height:300px; */
}
.nnav .nnavwrap li {
    float: left;
}
.nnav li {
    position: relative;
}
/* 首页*/
.nnav .nnavwrap .cur {
    width: 100px;
    text-align: center;
    display: block;
    float: left;
    color: #fff;
    height: 40px;
    line-height: 40px;
    background: #d70057;
}
/* 特时特卖*/
.nnav .nnavwrap .otls {
    background: url(http://0.js.al.okbuycdn.com/resources/images/v6/common/common-thumb.png) -187px -46px no-repeat;
    width: 122px;
    height: 46px;
    display: block;
    float: left;
    margin-top: -6px;
}
/* 运动生活 */
.nnav .nnavwrap a {
    width: 100px;
    text-align: center;
    display: block;
    float: left;
    color: #fff;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    font-family: 'Microsoft Yahei';
}

/* 全球购 */
.nnav .nnavwrap a {
    text-align: center;
    display: block;
    float: left;
    color: #fff;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    font-family: 'Microsoft Yahei';
}
.nnav a {
    position: relative;
}

/* 运动生活 */
.nnav .navvsub {
    display: none; 
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 900;
    max-width: 1200px;
    height: 396px;
    background-color: #fff;
    box-shadow: 2px 2px 4px #acacac; 
}
.nnavarr {
    position: absolute;
    top: -7px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    font-size: 16px;
    font-family: "\5b8b\4f53";
    color: #fff;
    text-decoration: none;
}
.nnavmain {
    padding: 12px 0;
    overflow: hidden;
    zoom: 1;
    font-family: 'Arial';
}
/* 第一列 */
.nnavmain .colbox {
    float: left;
    padding: 10px 12px;
    height: 352px;
    overflow: hidden;
    border-right: 1px dashed #aeaeae;
}
.nnavmain .colbox h3, .nnavmain .colthumb h3 {
    font-size: 12px;
    font-weight: bold;
    color: #D20D33;
}
.nnavmain .colbox .catewrap {
    line-height: 12px;
}
.nnavmain .colbox .catewrap {
    padding-top: 12px;
    overflow: hidden;
    /* zoom: 1; */
}
.nnavmain .colbox .catewrap h3.black {
    color: #5E5E5E;
}
.nnavmain .colbox h3, .nnavmain .colthumb h3 {
    font-size: 12px;
    font-weight: bold;
}
/* plist */
.nnavmain .colbox .catewrap .context {
    margin-top: 16px;
}
.nnavmain .colbox .catewrap .context a {
    float: left;
    /* display: inline; */
    width: auto;
    margin-right: 15px;
    margin-bottom: 8px;
    white-space: nowrap;
    color: #5E5E5E;
    /* overflow: hidden; */
}
/* 第三列 */
.nnavmain .colthumb {
    float: left;
    /* display: inline; */
    padding: 10px 10px 10px 12px;
}

/* 休闲服饰 */

.nnavmain .colbox .catewrap {
    padding-top: 12px;
    width: 320px;
    overflow: hidden;
    zoom: 1;
}
/* 轮播图 */
.banner {
    width:100%;
    height: 350px;
    position: relative;
}

.pic li {
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%;
    display: none;
}

.pic li img {
    display: block;
    width:100%;
    height:350px;
}

.btn ol {
    position: absolute;
    width:200px;
    left:50%;
    bottom: 20px;
    margin-left:-100px;
}

.btn li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ccc;
    text-indent: -999em;
    float: left;
    margin-right: 5px;
    cursor: pointer;
}

#leftarrow {
    left: 20px;
    display: none;
    width: 22px;
    height: 36px;
    position: absolute;
    top: 150px;
    background: url(http://0.js.al.okbuycdn.com/resources/images/v6/index/slideconcroll.png) no-repeat 0 0;
    z-index: 200;
    left: 50%;
    margin-left: -578px;
}

#rightarrow {
    display: none;
    width: 22px;
    height: 36px;
    position: absolute;
    top: 150px;
    background: url(http://0.js.al.okbuycdn.com/resources/images/v6/index/slideconcroll.png) no-repeat 0 0;
    z-index: 200;
    /* right: 20px; */
    right: 50%;
    background-position: -22px 0;
    margin-right: -578px;
}

.btn li.active {
    background: orange;
}
/* 轮播图 */
/* 商标 */
.brand {
    height: 315px;
    background: #f5f5f5;
    width: 100%;
}
.brand .brandin {
    width: 1200px;
    height: 194px;
    /* overflow: hidden; */
    margin-top: 4px;
}
.brand .brandin .brandinin {
    width: 1210px;
}
.brand .brandin .brandinin a {
    width: 99px;
    text-align: center;
    height: 64px;
    background: #fff;
    display: block;
    float: left;
    border-right: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
}
/* 图片列表 */
.list2 {
    /* overflow-x: hidden; */
    margin-top: 30px;
}
.OB_clearB {
    clear: both;
}
.list2 .list2in {
    width: 1220px;
}
.list2 ul li {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.list2 ul li a {
    font-family: "Microsoft YaHei";
    border: 1px solid #e9e7ea;
    float: left;
    display: block;
    position: relative;
    width: 593px;
    height: 208px;
}
.list2 ul li a img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 593px;
    height: 208px;
  
}

.list2 ul li a .tit1 {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 76px;
    color: #333;
    font-size: 14px;
    line-height: 18px;
    width: 200px;
    text-align: center;
}
.list2 ul li a .tit2 {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 94px;
    color: #333;
    font-size: 14px;
    line-height: 18px;
    width: 200px;
    text-align: center;
}
.list2 ul li a .tit3 {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 144px;
    color: #333;
    font-size: 14px;
    line-height: 18px;
    width: 200px;
    text-align: center;
    color: #d70057;
    font-size: 20px;
    font-weight: bold;
}
/* .list2 ul li a .time {
    position: absolute;
    z-index: 2;
    left: 48px;
    bottom: 10px;
    color: #666;
} */


/* 图片列表三 */
.list3 {
    overflow-x: hidden;
}
.list3 .list3in {
    width: 1220px;
}
.list3 ul li {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    
}
.list3 ul li a {
    font-family: "Microsoft YaHei";
    border: 1px solid #e9e7ea;
    width: 388px;
    height: 329px;
    display: block;
    position: relative;
}
.list3 ul li a img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 388px;
    height: 328px;
}

.list3 ul li a .list3tit1 {
    position: absolute;
    z-index: 2;
    left: 20px;
    bottom: 50px;
    color: #333;
    line-height: 18px;
    width: 250px;
    text-align: left;
    font-size: 18px;
}
.list3 ul li a .list3tit1 span {
    color: #d70057;
    font-weight: bold;
}
/* .list3 ul li a .time2 {
    position: absolute;
    z-index: 2;
    left: 20px;
    bottom: 20px;
    color: #666;
} */
/* 底部 */
.footer {
    border-top: solid 1px #a6a6a6;
    margin-top: 40px;
    clear:both;
}
.footer .conn {
    border-top: solid 1px #c3c3c3;
    background-color: #e6e6e6;
    padding: 28px 0 0 0;
}
.footer .conn .w1200 {
    width: 1250px;
}
.footer .qd {
    height: 140px;
    margin-left: 26px;
    background: #fff;
}
.footer .qd {
    float: left;
    /* display: inline; */
    width: 560px;
    padding-top: 10px;
    position: relative;
}
.footer_code {
    overflow: hidden;
    width: 480px;
    margin: 10px 0 0 35px;
    text-align: center;
}
.footer_code .wx_code {
    float: left;
    width: 120px;
    text-align: center;
}
.footer_code .wx_code img {
    width: 90px;
}
.footer_code .wx_code p {
    margin-top: 8px;
    text-align: center;
    font-size: 14px;
    color: #333;
}
.footer .qd p {
    line-height: 1.60;
    margin-bottom: 5px;
}
.footer_code .wx_code {
    float: left;
    width: 120px;
    margin-right: 60px;
    text-align: center;
}
.footer_code .wx_code p {
    margin-top: 8px;
    text-align: center;
    font-size: 14px;
    color: #333;
}
.footer .qd p {
    line-height: 1.60;
    margin-bottom: 5px;
}
.footer .abm {
    float: right;
}
.footer .abm li {
    float: left;
    width: 120px;
    /* display: inline; */
    border-left: solid 1px #fff;
    margin-right: 30px;
}
.footer .abm .tit {
    line-height: 24px;
    background-color: #fff;
    margin-bottom: 14px;
    font-family: 'Microsoft Yahei';
    font-size: 14px;
    color: #999;
}
.footer .abm p {
    padding-left: 20px;
}
.footer .abm p {
    padding-left: 20px;
    line-height: 24px;
}
.footer .oklogo {
    padding: 45px 0 0 0;
    clear: both;
}
.footer .center {
    text-align: center;
}
.center {
    margin: 0 auto;
}
.footer .oklogo img {
    margin: 0 10px;
}
.footer .about {
    line-height: 42px;
    text-align: center;
    color: #d7d7d7;
}
.footer .bt {
    background-color: #232323;
    text-align: center;
    color: #999;
    line-height: 24px;
}
.footer .bt a:link, .footer .bt a:visited {
    color: #878787;
    margin: 0 6px;
}
/* 回到顶部 */
#gotoTop .top {
    background: url(http://0.js.al.okbuycdn.com/resources/images/v6/common/gototop_2.png) no-repeat 0 0;
    width: 50px;
    height: 50px;
    display: block;
    margin: 10px 0px 10px 0;
}
#gotoTop .feed {
    background: url(http://0.js.al.okbuycdn.com/resources/images/v6/common/gototop_2.png) no-repeat 0 -60px;
    width: 50px;
    height: 31px;
    display: block;
}